
.rock-band-card {
    width: 100%;
}

.fab-main {
    position: fixed;
    right: 1em;
    top: 1em;
}

.ion-card-content {
    background-color: #FFF;
}

.item-background-color{
    --ion-item-background:#4067ab;
}

.span-title {
    font-weight: bold;
    font-style: normal;
    color: #FFF;
    margin-right: 5px;
}

.span-space {
    margin-right: 5px;
}